<!DOCTYPE html>
<html lang="en">

{{template "admin/header.tpl" .}}

<body>

    <div id="wrapper">

        <!-- Navigation -->
        {{template "admin/nav.tpl"}}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">文章管理-添加</h1>
                </div>
                
            </div>
            

  			    <div class="space-6"></div>
            <form role="form">
              <input type="hidden" name="id" value="{{.ArticleId}}">
               <div class="form-group">
                 <label for="txtTitle">标题</label>
                 <input type="text" class="form-control" value="{{.Article.Title}}" name="title" id="txtTitle" placeholder="标题">
               </div>
               <div class="form-group">
                 <label for="txtAbstract">摘要</label>
                 <textarea rows="3" class="form-control" name="abstract" id="txtAbstract" placeholder="摘要">{{.Article.Abstract}}</textarea>
               </div>
               <div class="form-group">
                 <label for="selectCategory">分类</label>
                 <select class="form-control" name="category" id="selectCategory"></select>
               </div>
               <div class="form-group">
                 <label for="txtTags">标签</label>
                 <input type="text" class="js-tags form-control" value="{{.Article.Tags}}" name="tags" id="txtTags" placeholder="标签">
               </div>              
              <div class="form-group">
                 <label for="editor">内容</label>
                  <div id="editor">
                    <p></p>
                  </div>
              </div>
              
               <button id="submit" type="button" class="btn btn-default">提交</button>
            </form>

  		    </div>
      </div>
    
    {{template "admin/footer.tpl"}}
<script src="/static/back/lib/wangEditor-3.1.1/wangEditor.min.js"></script>
<script type="text/javascript" src="/static/back/lib/jq-tags-input/jquery.tagsinput.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/back/lib/jq-tags-input/jquery.tagsinput.min.css">
<script type="text/javascript">
  
  $(function () {
    var E = window.wangEditor
    var editor = new E('#editor')
    editor.customConfig.uploadImgServer = '/admin/upload';
    // 将图片大小限制为 3M
    editor.customConfig.uploadImgMaxSize = 3 * 1024 * 1024;
  	// 限制一次最多上传 1 张图片
  	editor.customConfig.uploadImgMaxLength = 1;
  	editor.customConfig.uploadFileName = 'upload_file';

    editor.create();
    var content = '{{.Content.Content}}';
    editor.txt.html(content);

    var cateId = '{{.Article.CategoryId}}';
    bindCategory(cateId);
    

    $('#submit').click(function(){
      var data=$('form').serialize();
      data+='&content='+editor.txt.html();
      console.log(data);
      $.ajax({
        url:'/admin/article',
        type:'post',
        dataType:'json',
        data:data,
        success:function(data){
          if($('input[name=id]').val()){
            alert('修改成功');
          }else{
            alert('添加成功');
          }
          location.href='/admin/article';
        },
        error:function(error){
          console.log(error);
        }
      });
    });
    
    $('.js-tags').tagsInput({
        'height':'80px',
        'width':'500px',
        'defaultText':'添加标签', 
    });
  });
  //绑定分类
  var bindCategory = function(cateId){
    $.ajax({
      url:'/admin/category/all',
      type:'get',
      dataType:'json',
      success:function(data){
        if(data && data.code == 200){          
          for(var i in data.msg){
            var selected = cateId==data.msg[i].Id?'selected':'';
            $('#selectCategory').append('<option '+selected+' value="'+data.msg[i].Id+'">'+data.msg[i].Name+'</option>');
          }
        }
      },
      error:function(error){
        console.log(error);
      }
    });
  };      
</script>
</body>

</html>
